/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Global override for mat-chip borders */
mat-chip.status-chip {
  border: none !important;
  outline: none !important;

  &.mat-mdc-chip,
  &.mat-mdc-standard-chip {
    border: none !important;
    outline: none !important;
  }
}

.mdc-evolution-chip__action,
.mdc-evolution-chip__cell,
.mdc-evolution-chip__cell--primary,
.mdc-evolution-chip__graphic {
  border: none !important;
}
